/* 头部，登录注册购物车跳转 */
#head{
    height:41px;
    border-bottom:1px solid #d8d6d6;
    border-top:1px solid #eee;
    background:#f7f7f7;
}
.head-con{
    width:1200px;
    height:41px;
    margin:0 auto;
}
/* 左边登录注册跳转 */
#head .head-left{
    width:600px;
    line-height:41px;
    font-size:12px;
    float:left;
}
#head .login,#head .register{
    color:#555;
}
/* 右边购物车等 */
#head .head-right{
    width:399px;
    line-height:41px;
    font-size:12px;
    float:right;
}
#head .ind{
    margin-right:10px;
    color:#555;
}
#head .cartimg{
    width:20px;
    height:19px;
}
#head .cart{
    margin-left:10px;
    margin-right:5px;
    color:#555;
}
#head .personimg{
    width:19px;
    height:21px;
    margin-left:10px;
}
#head .order{
    margin:0 9px;
    color:#555;
}
#head .starimg{
    width:15px;
    height:15px;
    margin-left:10px;
}
#head .collect{
    margin-left:10px;
    color:#555;
}
/* (结束)头部，登录注册购物车跳转 */
/* login 搜索框等 */
#logo{
    height:102px;
}
.logo-con{
    width:1200px;
    height:102px;
    margin:0 auto;
    position: relative;
}
#logo .log{
    width:200px;
    height:85px;
    line-height:102px;
}
#logo .search_nav{
    width:608px;
    height:102px;
    position: absolute;
    top:0;
    left:307px;
}
#logo .search{
    width:508px;
    height:39px;
    border:2px solid #1067a8;
    border-right:98px
    solid #1067a8;
    margin-top:23px;
}
.search .seaimg{
    width:20px;
    height:20px;
    margin-top:10px;
    margin-left:14px;
    float:left;
}
#logo .search .search1{
    width:460px;
    line-height:37px;
    font-size:12px;
    color:#b6b6b6;
    position: absolute;
    left:50px;
    border:none;
}
#logo .search .sea{
    font-size:16px;
    color:#fff;
    line-height:37px;
    position: absolute;
    right:17px;
}
/* 导航1 */
.navigation{
    font-size:12px;
    margin-top:8px;
}
.navigation .blue{
    color:#1067a8;
}
.navigation .orange{
    color:#fd8712;
}
.navigation a{
    color:#555;
    margin-right:11px;
}
/* 联系电话 */
#logo .phone{
    width:200px;
    height:55px;
    position: absolute;
    top:23px;
    right:10px;
}
/*(结束) login 搜索框等 */
/* 导航2 */
#navtwo{
    height: 40px;
    background: #1b76b9;
}
.navtwo-con{
    width: 1200px;
    margin:0 auto;
    font-weight: bold;
}
#navtwo a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 115px;
    text-align: center;
    font-size: 14px;
    color:#fff;
}
#navtwo a:hover{
    background: #1067a8;
}
/* （结束）导航2 */
/* 购物车 */
.carttitle{
    background: url(../images/carttitle.png) no-repeat top center;
    height: 49px;
    width: 776px;
    margin: 0 auto;
    margin-top: 15px;
}
.cartselect{
    background: url(../images/cartselect.png) no-repeat top center;
    width: 1060px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 14px;
    line-height: 33px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
}
#addcart{
    border: solid #4182b6 3px;
    border-top: none;
    border-bottom: none;
    width: 1054px;
    margin: 0 auto;
    font-size:12px;
}
.addcartcenter{
    width: 955px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.addcartcenter table{
    width: 100%;
    border: solid #599bd1 1px;
    border-right: none;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.addcartcenter tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.addcartcenter tbody tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.addcartcenter tbody td{
    display: table-cell;
    vertical-align: inherit;
}
.addcartcenter tbody .cartname_bt{
    background: #599bd1;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 30px;
    width: 565px;
}
.addcartcenter tbody .cartprice_bt{
    background: #599bd1;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 130px;
}
.addcartcenter tbody .cartamount_bt{
    background: #599bd1;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 130px;
}
.addcartcenter tbody .cartdelete_bt{
    background: #599bd1;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 130px;
}
.addcartcenter tbody .carttotal_td{
    width: 100%;
    border: solid #599bd1 1px;
    border-left: none;
    border-top: none;
    text-align: right;
    padding: 15px 10px 15px 0px;
    color: #1e1e1e;
}
.addcartcenter tbody .cartnext_td{
    text-align: right;
    padding: 15px 10px 15px 0px;
    border-left: solid #fff 1px;
    border-bottom: solid #fff 1px;
}
.addcartcenter tbody .cartnext_td span{
    text-align: left;
    float: left;
    padding: 0px 0px 15px 10px;
}
.addcartcenter table .cartnext_td .continue_tb {
    padding-right: 15px;
}
.addcartcenter tbody span{
    color: #3aac00;
    font-weight: bold;
}
.addcartcenter .cartnext_td .red{
    color:#ff0000;
}
.addcart_bottombg {
    background: url(../images/line.png) no-repeat top center;
    width: 1060px;
    height: 8px;
    margin: 0 auto;
}
.addcart_center .addcart_table .book_btbg .cartname_td {
    width: 565px;
    height: 40px;
    border: solid #599bd1 1px;
    border-left: none;
    border-top: none;
    color: #1b76b9;
    font-size: 12px;
}
.addcart_center .addcart_table .book_btbg .cartname_td .name_text {
    color: #1b76b9;
    font-size: 12px;
    text-decoration: none;
}
.addcart_center .addcart_table .book_btbg .cartprice_td {
    width: 130px;
    border: solid #599bd1 1px;
    border-left: none;
    border-top: none;
    color: #ff6600;
    font-size: 12px;
}
.addcart_center .addcart_table .book_btbg .cartamount_td {
    width: 130px;
    border: solid #599bd1 1px;
    border-left: none;
    border-top: none;
    color: #1b76b9;
    font-size: 12px;
}
.addcart_center .addcart_table .book_btbg .cartamount_td .buy_del {
    padding: 1px 5px;
    border: solid #d1d1d1 1px;
    color: #898989;
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
}
.addcart_center .addcart_table .book_btbg .cartamount_td .amount_input {
    padding: 1px 5px;
    border: solid #d1d1d1 1px;
    color: #666;
    vertical-align: middle;
    font-size: 13px;
    width: 30px;
    height: 20px;
}
.addcart_center .addcart_table .book_btbg .cartamount_td .buy_add {
    padding: 1px 5px;
    border: solid #d1d1d1 1px;
    color: #898989;
    font-size: 13px;
    line-height: 25px;
    vertical-align: middle;
}
.addcart_center .addcart_table .book_btbg .cartdelete_td {
    width: 130px;
    border: solid #599bd1 1px;
    border-left: none;
    border-top: none;
    color: #ff0000;
    font-size: 12px;
}
.addcart_center .addcart_table .book_btbg .cartdelete_td .book_del {
    font-size: 12px;
    color: #ff0000;
    text-decoration: none;
}
/* （结束）购物车 */
/* bottom */
#bottom{
    width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    font-size:12px;
}
.bottom-con{
    width:1200px;
    height:150px;
    background:url(../images/bottombg.png) no-repeat top center;
}
.bottom-con li{
    width: 240px;
    float: left;
    font-size: 12px;
    padding-top: 3px;
    text-align: center;
    line-height: 170%;
    color: #666;
}
.bottom-con a{
    color:#555;
}
/* (结束)bottom */
/* foot */
#foot{
    background:#f6f6f6;
}
.foot-con{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    line-height: 230%;
    padding: 25px 100px;
    font-size:12px;
}
#foot b{
    font-weight:bold;
}
#foot a{
    color:#555;
}
#foot span{
    display: inline-block;
    background-color: #EF5350;
    color: #fff;
    padding: 2px 5px;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
/* (结束)foot */